<% include ./../../helpers/image %>
<% include ./../../helpers/selectCategory %>
<% include ./../../helpers/info %>
<% include ./../../helpers/image %>
<% 
	const collection="products" ; 
	const linkPrefix=systemConfig.prefixAdmin + `/${collection}/`; 
	errors=errors ?? {};
	const folderUpload=`uploads/${collection}/`; 
	let information = item.information ? JSON.parse(item.information) : null;
%>
<style>
	#myDropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
	.showImage img {
			cursor: move;
	}
	

</style>
<div class="card card-info card-outline">
	<form action="<%= linkPrefix %>save/" method="POST" class="mb-0" name="form-upload"
		enctype="multipart/form-data">
		<div class="card-body">
			<div class="row">
				<div class="col-md-6">
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">Details</h3>
						</div>
						<div class="card-body">

							<div class="form-group">
								<label for="name">Name</label>
								<input type="text" name="name" value="<%= item.name %>" class="form-control form-control-sm <%= errors.name && 'is-invalid' %>" onKeyUp="handleSlug(
								'<%= linkPrefix %>',
								this,
								)">
							<%- `<span class="error invalid-feedback">${errors.name}</span>` %>
							</div>
							<div class="form-group">
								<label for="slug">Slug</label>
								<input type="text" name="slug" value="<%= item.slug %>" class="form-control form-control-sm <%= errors.slug && 'is-invalid' %>">
								<%- `<span class="error invalid-feedback">${errors.slug}</span>` %>
							</div>
							<div class="form-group">
								<label>Category</label>
										<%- selectCategory(listCategory,item.categoriesId,'',errors.categoriesId) %>
									</select>
							</div>
							<div class="form-group">
								<label>Ordering</label>
								<input type="text" name="ordering" value="<%= item.ordering ?? 0 %>" class="form-control form-control-sm <%= errors.ordering && 'is-invalid' %>">
								<%- `<span class="error invalid-feedback">${errors.ordering}</span>` %>
							</div>
							<div class="form-group">
								<label>Price Origin</label>
								<input type="number" name="priceOrigin" value="<%= item.priceOrigin ?? 0 %>" class="form-control form-control-sm <%= errors.priceOrigin && 'is-invalid' %>">
								<%- `<span class="error invalid-feedback">${errors.priceOrigin}</span>` %>
							</div>
							<div class="form-group">
								<label>Price Discount</label>
								<input type="number" name="priceDiscount" value="<%= item.priceDiscount ?? 0 %>" class="form-control form-control-sm <%= errors.priceDiscount && 'is-invalid' %>">
								<%- `<span class="error invalid-feedback">${errors.priceDiscount}</span>` %>
							</div>
							<div class="form-group">
								<label>Status</label>
								<select id="form[status]" name="status" class="custom-select custom-select-sm <%= errors.status && 'is-invalid' %>">
									<option value="novalue">Choose Status</option>
									<option value="active" <%= (item.status == "active") ? 'selected="selected"' : '' %> >Active</option>
									<option value="inactive" <%= (item.status == "inactive") ? 'selected="selected"' : '' %> >Inactive</option>
								</select>
								<%- `<span class="error invalid-feedback">${errors.status}</span>` %>
							</div>
							<div class="form-group">
								<label>Description</label>
								<textarea id="editor" name="description"><%= item.description %></textarea>
							</div>	
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">Information</h3>
						</div>
						<div class="card-body" id="information">
							<%- create(information) %>
							<div class="add"></div>
							<div class="row">
								<button class="btn btn-primary add-more">
									<i class="fas fa-plus"></i>
								</button>
							</div>
							
						</div>
					</div>
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">Atributes</h3>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="form-group">
									<% listAttributes.map(value => { %>
										<div class="custom-control custom-checkbox">
											<input class="custom-control-input" name="attributes" type="checkbox" id="<%= value.id %>" value="<%= value.id %>" <%= item.attributes.includes(value.id) ? 'checked' : '' %> >
											<label for="<%= value.id %>" class="custom-control-label"><%= value.name %></label>
										</div>
									<% }) %>
								</div>
							</div>
						</div>
					</div>
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">Images</h3>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="form-group col-md-12">
									<div class="dropzone" id="myDropzone" data-url="<%= linkPrefix %>upload/">
										<div class="fallback">
											<input name="fileMulti" type="file" multiple/>
										</div>
									</div>
								</div>
							</div>
							<% if(item.id) { %>
				
							<div class="card card-success">
								<div class="card-header">
									<h3 class="card-title">Sortable</h3>
									<div class="card-tools">
										<button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
									</button>
									</div>						
								</div>
								<div class="card-body showImage connectedSort d-flex" style="display: block;">
									<%- imageMulti(item.images,folderUpload) %>
								</div>
							</div>

							<div class="card card-danger">
								<div class="card-header">
									<h3 class="card-title">Delete</h3>
									<div class="card-tools">
										<button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
									</button>
									</div>						
								</div>
								<div id="trash" class="card-body connectedSort d-flex" style="display: block;">
									
								</div>
							</div>
							<% } %>
						</div>
						
					</div>
				</div>
			</div>
			<div class="card-footer">
				<div class="col-12 col-sm-8">
					<input class="form-control" name="id" value="<%= item.id %>" type="hidden">
					<input name="image_old" value="<%= item.thumbnail %>" type="hidden" />
					<input name="image_uploaded" value="" type="hidden" id="image_uploaded" />
					<input name="images" value="<%= item.images %>" type="hidden" />
					<input name="deleteImages" value type="hidden">
					<button type="submit" class="btn btn-sm btn-success mr-1"> Submit</button>
					<a href="<%= linkPrefix %>" class="btn btn-sm btn-danger mr-1"> Cancel</a>
				</div>
			</div>
	</form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
<script>
	ClassicEditor
		.create(document.querySelector('#editor'))
		.catch(error => {
			console.error(error);
		});

	// imgInp.onchange = evt => {
	// 	const [file] = imgInp.files
	// 	if (file) {
	// 		showImage.src = URL.createObjectURL(file)
	// 		image_uploaded.setAttribute('value', 'uploaded')
	// 	}
	// }

	// function notImage(e, folder) {
	// 	e.setAttribute('src', folder + 'no-avatar.png')
	// }
</script>

<script>
	if($('input[name="id"]').val()) {
		$("button[type='submit']").prop("disabled", false)
	}
	$('.add-more').click(function(e) {
		e.preventDefault();
		$('#information div.add').append(
			`<div class="row mb-3">
					<div class="col-md-4">
						<input type="text" class="form-control" placeholder="info" name="infoName">
					</div>
					<div class="col-md-7">
						<input type="text" class="form-control" placeholder="value" name="infoValue">
					</div>
					<div class="col-md-1">
						<button type="button" class="btn btn-danger" onClick="closeInfo(this)">
							<i class="fas fa-times"></i>
						</button>
					</div>
				</div>
		`).children(':last').hide().fadeIn();;
	});

	function closeInfo(obj) {
		$(obj).parent().parent().fadeOut(350, function() {
			$(this).remove();
		});
	}

	function setValueImagesHidden(arrElement = ['.dz-filename span','.showImage img']) {
		let value = '';
		arrElement.forEach(element => {
			$(element).each((index,elm) => {
				value += $(elm).data('filename') + ','
			})
			if(value) {
				$("input[name='images']").val(value.substr(0,value.length - 1))
			}
		})
	}
	$('#myDropzone').sortable({
 	  update: function( event, ui ) {
			setValueImagesHidden()
		}
	});

	let myDropzone = new Dropzone("#myDropzone", { 
		url: $("#myDropzone").data('url'),
		paramName: 'fileMulti',
		autoProcessQueue:true,
		addRemoveLinks: true,
  	maxFiles:10,
		parallelUploads:10,
		init: function() {
			var myDropzone = this;
			myDropzone.on("success",(file, res) => {
				$('.dz-filename span').each((index,element) => {
					let fileName = $(element).text();
					if(fileName == res.originalname) {
						$(element).attr('data-filename',res.filename);
					}
				});
				setValueImagesHidden()
			})
		}
	});


	$('.showImage,#trash').sortable({
		connectWith: ".connectedSort",
		update: function( event, ui ) {
			setValueImagesHidden()
		},
		remove: function(event,ui) {
			let fileName = '';
			$('#trash img').each((index,elm) => {
				fileName += $(elm).data('filename') + ',';
			})
			$('input[name="deleteImages"]').val(fileName.substr(0,fileName.length - 1))
		}
	});

</script>